/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



label {
	font-size: inherit;
	color: white;
}

caption {
    border: 2px solid #dddddd;
    font-size: 150%;
    padding: 8px;
}

td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.box {
	border-radius: 2%;
}

.song-box {
    border: 5px solid;
    border-color: #d32f2f;
}

.main {
    background: url(/static/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.practice {
    background: url(static/pics/bg.jpg) no-repeat center center fixed;
    opacity: 80%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}