<!doctype html>
<html lang="en">
  <head>
    <title>Practice - Handbell Helper</title>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <!-- Bootstrap CSS -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <?php ?>
    <script src="/static/js/form.js" type="text/javascript"></script>
  </head>
  <body class="practice" onload="useForm()">
    <nav class="red darken-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Handbell Helper</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/edit.html">Edit Songs</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/edit.html">Edit Songs</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container song-box red darken-2">
      <table id="song-table">
        <caption>Song Feedback</caption>
        <tr>
          <th>Note</th>
          <th>Pitch</th>
          <th>Correct Pitch</th>
          <th>Dynamic</th>
          <th>Tempo</th>
          <th>Cumulative Score</th>
        </tr>
        <tr>
          <td colspan="6">
            <br><br><br><center>Waiting for input...<br><br><img src="/static/pics/loading.gif" width="50" height="50"><center><br><br>
            <!-- Spinner by https://loading.io/spinner/double-ring -->
          </td>
        </tr>
        
      </table>
    </div>
  </div>



    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
